@import "@elastic/eui/src/global_styling/variables";
@import "@elastic/eui/src/themes/eui/eui_colors_dark.scss";

$container-heigth: calc(100vh - 50px - 56px - 70px);

.chat {
  height: $container-heigth;
}

.chat-box {
  height: calc(100% - 56px);
}
.chat-messages-list {
  margin-bottom: 17px;
  margin-right: 17px;
}
.chat-input {
  width: 100%;

  form {
    flex-basis: 100%;
    display: flex;
    align-items: center;
  }
  .send-message-button {
    flex-basis: 40px;
  }
}
.chat-message {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  grid-template-columns: max-content 1fr 0.1fr 0.1fr;
  border-radius: $euiBorderRadius;
  margin: 5px;
  margin-right: 17px;
  padding: 5px;
  &:hover {
    background-color: $euiColorLightestShade;
    .message-actions {
      opacity: 1;
    }
  }
  .user-avatar {
    grid-column: 1;
    grid-row: 1/3;
    margin: 10px;
  }
  .author-username {
    grid-row: 1;
    grid-column: 2/5;
  }
  .message-actions {
    grid-row: 1;
    grid-column: 5;
    display: flex;
    justify-content: flex-end;
    opacity: 0;
  }
  .message-body {
    grid-column: 2/6;
  }
  .message-date {
    grid-column: 5;
  }
  .message-edited {
    grid-column: 4;
  }
}
