@import "@elastic/eui/src/themes/eui/eui_colors_dark.scss";

.room-title {
  align-items: center;
}

.room-layout {
  position: relative;
  min-width: 320px !important;
}

.media-controls {
  .media-controls-button {
    position: relative;
    &::after {
      display: block;
      content: "";
      position: absolute;
      height: 60%;
      width: 1px;
      transform: rotate(45deg);
      transition: background-color 0.2s ease-in-out;
    }
    &.disabled::after {
      background-color: $euiColorDarkestShade;
    }
  }
}

.conference-modal {
  width: 90vw;
  max-width: unset !important;
  height: max-content;
}
.conference {
  height: 100%;
  display: grid;
  .carousel-root {
    height: 100%;

    .control-dots .dot {
      background-color: $euiColorPrimary;
    }
  }

  .conference-frame {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }

  .conference-view--grid {
    .conference-frame {
      height: calc(100vh - 50px - 56px - 70px - 60px - 100px);
    }
  }

  .conference-view--screen {
    display: grid;
    grid-template-rows: max-content max-content;
    grid-template-columns: 100%;
    .conference-frame {
      height: calc(100vh - 50px - 56px - 70px - 60px - 90px - 20px);
    }
  }

  .conference-peer-item {
    height: 100%;
    position: relative;
    display: grid;
    grid-template-rows: 24px calc(100% - 24px);
    grid-template-columns: 100%;
  }
  .conference-peers-thumbs {
    background-color: $euiColorLightestShade;
    .conference-peer-item {
      height: 25vh;
    }
  }
  .webcam,
  .screen {
    display: flex;
    justify-content: center;
    align-items: center;
    &.hidden {
      display: none;
    }
    video {
      max-height: 100%;
      max-width: 100%;
    }
  }
  .webcam.small {
    position: absolute;
    width: 10%;
    right: 0;
  }
  .peer-label {
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      margin: 15px 5px;
    }
    &.expand {
      flex-direction: column;
      grid-row: 1/3;
      background-color: $euiColorLightestShade;
    }
  }
}
