@import "@elastic/eui/src/themes/eui/eui_colors_dark.scss";
@import "@elastic/eui/src/global_styling/variables";
.rooms-list {
  position: relative;

  .euiListGroupItem {
    .euiListGroupItem__button {
      text-decoration: none !important;
      padding-left: 0;
    }
    position: static;
    &::before {
      content: "";
      display: block;
      height: 40px;
      width: 4px;
      left: -15px;
      position: absolute;
      z-index: 1;
      border-radius: 0 2px 2px 0;
      transition: background-color 0.2s ease-in-out;
    }
  }
  .euiListGroupItem-isActive {
    &::before {
      background-color: $euiColorDarkestShade;
    }
  }
  .euiListGroupItem__label {
    width: 100%;
    padding-left: 15px;
  }
  .room-list-item {
    position: relative;
  }
  .room-state-indicator {
    .euiBeacon {
      position: absolute;
      bottom: 8px;
      left: 32px;
    }
    .small-badge {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}
