.users-list-item {
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
  position: relative;
  .user-state-indicator {
    min-width: 16px;
    position: absolute;
    z-index: 1;
    left: 32px;
    bottom: 4px;
  }
  .user-avatar {
    margin: 5px 10px 5px 5px;
  }
}
