@import "@elastic/eui/src/themes/eui/eui_colors_dark.scss";
@import "@elastic/eui/src/global_styling/variables";

.notification-icon {
  border-radius: $euiBorderRadius;
  position: relative;
  padding: 8px;
  &:hover {
    transform: translateY(-1px);
    background-color: $euiColorLightestShade;
  }
  .small-badge.euiBadge {
    position: absolute;
    left: -2.5px;
    top: -2.5px;
  }
}

.small-badge.euiBadge {
  font-size: 10px;
  line-height: 11px;
  padding: 0 1px;
  margin: 1px;

  .euiBadge__content {
    min-height: unset;
  }
}
