.home-page-navigation {
  align-items: center;
}
.app-content {
  margin-top: 50px;
  min-height: calc(100vh - 100px);
}
.logo-section {
  width: 84px;
  padding-left: 10px;
}
.navigation-sidebar.euiPageSideBar {
  min-width: 50px !important;
  transition: min-width ease 0.3s;
  &.open {
    min-width: 250px !important;
  }
}
