.invites-list {
  .notification-icon {
    padding: 0;
    &:hover {
      background-color: unset;
      transform: none;
    }
  }
  .invites-list-item {
    .ivite-avatar {
      margin: 5px;
      &:first-child {
        margin-right: 20px;
      }
    }
  }
}
